:root {
    --branco-principal: #FFFFFF;
    --branco-secundario: #EDEDED;
    --cinza-secundario: #C0C0C0;
    --botao-vermelho: #b31f1f;
    --vermelho-background: #d00c0c87;
    --vermelho-principal: #750b0b;
    --vermelho-secundario: #b31f1f;
    --preto-principal: #2C3A3D;
    --fonte-principal: 'Open Sans';
    --fonte--titulo: 'Bozon';
}

 

@font-face {
    font-family: 'Bozon';
    src: url(./../../assets/fonts/Bozon.otf) format('OpenType');
    font-display: swap;
}

@font-face {
    font-family: 'Bozon Bold';
    src: url(./../../assets/fonts/Bozon_Bold.otf) format('OpenType');
    font-display: swap;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    user-select: none;
    /* background-color: rgb(70, 126, 126); */
}

.cta {
    font-family: 'Bozon';
    text-decoration: none;
    letter-spacing: 1.2px;
    border: solid 1px;
    font-weight: 600;
    padding: 11px 15px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.tag{
    font-weight: 600;
    color: var(--vermelho-secundario);
    text-transform: uppercase;
    font-size: .8em;
    font-family: 'Bozon Bold';
    position: relative;
    margin-top: 1.5em;
}

.tag::before{
    content: '';
    width: 10px;
    height: 2.2px;
    border-radius: 20px;
    top: 45%;
    left: -20px;
    /* opacity: .8; */
    display: block;
    position: absolute;
    background-color: var(--vermelho-secundario);
}

.tag::after{
    content: '';
    width: 4px;
    height: 2.2px;
    border-radius: 50%;
    top: 45%;
    left: -8px;
    display: block;
    position: absolute;
    background-color: var(--vermelho-secundario);
}
