.clients__container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.clients__container::before,
.clients__container::after {
  position: absolute;
  content: "";
  top: 0;

  width: 150px;
  height: 100%;
  z-index: 2;

}

.clients__container::before {
  left: 0;
  background: var(--branco-secundario);
  background: linear-gradient(to right, var(--branco-secundario) 0%, transparent 100%);
}

.clients__container::after {
  right: 0;
  background: var(--branco-secundario);
  background: linear-gradient(to left, var(--branco-secundario) 0%, transparent 100%);
}

.clients__slider {
  white-space: nowrap;
  /* margin-right: 30px; */
  width: 100%;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  animation: scroll 30s infinite linear;
}

.clients__container:hover .clients__slider {
  animation-play-state: paused;
}

.client img {
  width: 130px;
  height: 50px;
  margin: 0 1.5em;
}

.client {
  height: 50px;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}







@media screen and (max-width: 500px) {

  /* clients */
  div.clients__slider {
    margin-right: 20em;
    animation: scroll 10s infinite linear;
  }

  div.client img {
    width: 100px;
    height: 50px;
    margin: 0 1em;
  }

  div.depoimentos__container {
    display: flex;
    padding-top: 2em;
    flex-direction: column;
    align-items: center;
  }

  div.depoimentos__text,
  div.depoimentos__decoration {
    width: 100%;
    margin-bottom: 2em;
  }

  div.depoimentos__card {
    width: 100%;
  }

  div.depoimentos__decoration {
    text-align: center;
  }

  div.depoimentos__card {
    margin-bottom: 2em;
  }

}