.contato {
    margin: 0 auto;
    background: #9b1b1b;
    background: linear-gradient(180deg, #9b1b1b 0%, #80131c 61%, #69010a 98%);
    margin-top: 10em;
    margin-bottom: 7em;
    position: relative;
    overflow-x: clip;
    user-select: none;
}

.contato::before {
    top: -2em;
    content: "";
    display: inline-block;
    position: absolute;
    height: 10em;
    width: calc(100% + 50em);
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    background-color: #9b1b1b;
}


.contato__container {
    padding-bottom: 4em;
}

.contato__container h2 {
    text-align: center;
    color: var(--branco-principal);
    padding: 2em 0;
}

.contato__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato__form {
    width:45%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.contato__form label {
    color: var(--branco-secundario);
    padding-bottom: .7em;
    font-weight: 600;
    letter-spacing: .8px;
    font-family: "Bozon";
}

.contato__form label a{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    border-bottom: solid 1px;
}

.contato__form--campo {
    font-size: 1.125em;
    padding: 0.5em;
    padding-left: 0.7em;
    border: none;
    border-radius: 5px;
}

.contato__form--submit {
    max-width: 180px;
    padding: 1em;
    margin-top: 1em;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* color: var(--branco-secundario); */
    color: var(--branco-principal);
    font-weight: 600;
    font-family: 'Bozon';
    cursor: pointer;
    letter-spacing: 1px;
    background: #ea2626;
    background: linear-gradient(10deg, #ea2626 0%, #cf1a22 100%);
}

.contato__hero{
    width: 45%;
}




@media screen and (max-width: 900px) {
    .contato__form {
        width: 100%;
        margin: 0 auto;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }

    .contato__form--campo {
        padding: 0.8em;
    }

    .contato__form--submit {
        margin: 0 auto;
        width: 100%;
        max-width: 230px;
        margin-top: 2em;
        padding: 1em;
        font-size: 1.125em;
    }
}