.especialidades__container {
    padding-bottom: 2em;
}

.especialidades__container h2 {
    text-align: center;
    padding: 1.5em 0;
}

.especialidades__container h2::after {
    content: "";
    display: block;
    margin: 10px auto;
    background: var(--vermelho-secundario);
    height: 0.15em;
    border-radius: 1em;
    width: 2em;
}

.especialidades__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.especialidades__card {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 20px;
}

.especialidades__card img {
    width: 50px;
    background-color: var(--botao-vermelho);
    opacity: .9;
    padding: .5em;
    border-radius: 50%;
    overflow: visible;
    margin-bottom: 1em;
}
.especialidades__card ul {
    margin-top: 1em;
    font-size: .8em;
}

.especialidades__card li {
    margin-bottom: .3em;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.especialidades__card span {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 20px;
    background-color: var(--botao-vermelho);
    display: block;
    margin-right: 3px;
}


.especialidades__container p {
    margin-top: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color: var(--preto-principal);
}