.especialidades{
    position: relative;
}
.especialidades__container {
    padding-bottom: 5em;
    padding-top: 2.5em;
    overflow-x: clip;
    text-align: center;
}


.especialidades__tag{
    font-weight: 600;
    color: var(--vermelho-secundario);
    text-transform: uppercase;
    font-size: .8em;
    font-family: 'Bozon Bold';
    position: relative;
    /* opacity: .8; */
    margin-top: 1.5em;
}
.especialidades__tag::before{
    content: '';
    width: 10px;
    height: 2.2px;
    border-radius: 20px;
    top: 45%;
    left: -20px;
    /* opacity: .8; */
    display: block;
    position: absolute;
    background-color: var(--vermelho-secundario);
}

.especialidades__tag::after{
    content: '';
    width: 4px;
    height: 2.2px;
    border-radius: 50%;
    top: 45%;
    left: -8px;
    display: block;
    position: absolute;
    background-color: var(--vermelho-secundario);
}

.especialidades__container h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1.5em;
}

.especialidades__container h2::after {
    content: "";
    display: block;
    margin: 10px auto;
    background: var(--vermelho-secundario);
    height: 0.15em;
    border-radius: 1em;
    width: 2em;
}

.especialidades__cards {
    padding-bottom: 30px;
}

.especialidades__card {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
}

.especialidades__card img {
    width: 50px;
    background-color: var(--botao-vermelho);
    opacity: .9;
    padding: .5em;
    border-radius: 50%;
    overflow: visible;
    margin-bottom: 1em;
}
.especialidades__card ul {
    margin-top: 1em;
    font-size: .9em;
}

.especialidades__card li {
    margin-bottom: .3em;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.especialidades__card span {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 20px;
    background-color: var(--botao-vermelho);
    display: block;
    margin-right: 3px;
}


.especialidades__container p {
    margin-top: 1em;
    text-align: center;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--preto-principal);
}


.especialidades__cards--swiper{
    overflow: visible;
    margin: 10px;
}




.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1.2em;
    color: #ffffff;
    background-color: var(--vermelho-secundario);
    padding: 0.5em 0.7em;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}