.footer{
    background-color: var(--vermelho-principal);
}
.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

.footer__logo{
    width: 120px;
}
.footer__main{
    width: 100%;
    margin: 3em 0;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
}

.footer__pages{
    display: flex;
    justify-content: space-between;
    /* gap: 9em; */
    width: 50%;
    color: var(--branco-secundario);
}
.footer__pages a{
    color: var(--branco-secundario);
    text-decoration: none;
}
.footer__pages p{
    color: var(--branco-secundario);
    font-weight: 600;
}
.footer__pages li:hover, .footer__pages li a:hover{
    transition: ease-in .2s;
    color: red;
    cursor: pointer;
}

.footer__socialList{
    display: flex;
    align-items: center;
}

.footer__socialList img{
    width: 35px;
    margin: 0px 10px;
}

.footer__copy{
    color: var(--branco-principal);
    font-size: .7em;
    text-align: center;
    margin-top: 2em;
}

.footer__copy a{
    text-decoration: none;
    color: var(--branco-principal);
}

@media screen and (max-width: 500px) {
    .footer__main {
        width: 100%;
        margin: 3em 0;
        padding-top: 2em;
        display: flex;
        align-items: center;
        gap: 3em;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer__pages {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .footer__pages--contain{
        text-align: center;
    }
}

@media screen and (min-width: 501px) and (max-width: 995px) {
    .footer__main {
        width: 100%;
        margin: 3em 0;
        padding-top: 2em;
        display: flex;
        align-items: center;
        gap: 3em;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer__pages {
        width: 100%;
        gap: 2em;
    }
}