.main__produtos {
    margin-top: 2em;
}

.trecho {
    width: 50%;
}

.trecho__cards {
    display: flex;
    align-items: stretch;
    gap: 2em;
}

.trecho figure {
    width: min(100% - 15px, 250px);
    /* width: 40%; */
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: clip;
    position: relative;
    padding: .5em;
    border-radius: 10px;
}

.trecho figure div {
    width: 100%;
    /* height: 50%; */
    padding: 2em;
    background-color: var(--vermelho-background);
    border-radius: 10px;
}

.trecho img {
    margin: 0 auto;
}

.trecho figcaption {
    width: 100%;
    height: auto;
    padding: 1em .5em;
}

.trecho figcaption p {
    font-weight: 600;
    color: var(--vermelho-secundario);
}


.trecho small {
    width: 100%;
    display: block;
    line-height: 13px;
}

.text__produtos p {
    margin-bottom: 2em;
}
.text__produtos b {
   font-family: 'Bozon';
   font-size: 1.125em;
}

.faixa {

    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;
}
.main__produtos h3{
    color: var(--vermelho-secundario);
}


.loneStar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5em auto;
}



.loneStar--image {
    display: flex;
    position: relative;
}

.loneStar--image img {
    width: 50%;
    margin: 0 auto;
    z-index: 1;
    filter: drop-shadow(5px 1px 14px #0000005d);
}

.loneStar--image::before {
    content: '';
    width: 70%;
    height: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    border-radius: 20px;
    background-color: var(--vermelho-background);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.loneStar--text h2 {
    margin-bottom: 1em;
}

.loneStar--text p {
    margin-bottom: 1em;
}

.ressec{
    width: 100%;
    margin-bottom: 3em;
}
.ressec__container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: clip;
    /* background-image: url(./../../assets/imagens/bg.webp);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.caixa {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}
.caixa__img{
    background-color: #80131c;
    position: relative;
    text-align: center;
}
.caixa__img::before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 100%;
    right: -20%;
    background-color: #80131c;
    clip-path: polygon(0 0, -15% 100%, 100% 100%);
}
.caixa__img img{
    width: 50%;
    padding: 1em;
    margin: 0 auto;
}





/* .saidas{
    background-color: #c0afb0;
}
.saidas__container{
    background-color: rgba(77, 77, 105, 0.308);
} */
/* .caixa{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
.caixa__text{
    width: 60%;
    align-items: baseline;
}

.caixa img{
    width: 70%;
}

.saida__item{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.saida__reverse{
    flex-direction: row;
} */



/* SWIPER */
.swiper-button-prox,
.swiper-button-ant {
    width: 40px;
    height: 40px;

}

.produtos__carrousel {
    width: 100%;
    max-width: 1550px;
    height: auto;
    margin-bottom: 5em;
}
.produtos__carrousel .swiper-pagination {
    transform: translateY(0px);
}
.produtos__carrousel .swiper-pagination-bullet-active {
    background-color: var(--vermelho-secundario);
}

.produtos__carrousel--wrapper {
    display: flex;
    align-items: center;
}

.faixa {
    margin-bottom: 0px;
    padding: 2em 4em;
}


/* chamada */
.chamada{
    margin: 0 auto;
    background: #9b1b1b;
    background: linear-gradient(180deg, #9b1b1b 0%, #80131c 61%, var(--vermelho-principal) 100%);

    margin-top: 6em;
    position: relative;
    overflow-x: clip;
    user-select: none;
}
.chamada::before {
    top: -2em;
    content: "";
    display: inline-block;
    position: absolute;
    height: 10em;
    width: calc(100% + 50em);
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    background-color: #9b1b1b;
}

.chamada a {
    text-decoration: none;
    background-color: var(--branco-secundario);
    color: var(--vermelho-principal);
    padding: .6em 4em;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-weight: 600;
}
.chamada__container{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 7em;
}
.chamada h2, .chamada h3, .chamada p{
    color: var(--branco-secundario);
}
.chamada h2, .chamada h3{
    padding-bottom: 1em;
}
.chamada p{
    padding-bottom: 1em;
}
.chamada__text{
    margin-bottom: 2em;
}


@media screen and (max-width: 800px) {
    .main__produtos {
        margin-top: -2em;
    }
    .trecho{
        width: 100%;
    }
    .trecho__cards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 2em;
    }
    .loneStar{
        flex-direction: column;
    }
    .loneStar--text h2 {
    text-align: center;
    }
    .tag{
        margin-left: 2em;
    }
    .faixa {
        padding: 0em 3em;
        flex-direction: column;
    }
    .trecho figure{
        max-height: 170px;
        justify-content: flex-start;
    }
    .trecho figcaption{
        padding: 1em 0;
    }
    .trecho figure small{
      display: none;
    }
    .trecho figure div {
        padding: .5em;
    }
}

@media screen and (min-width: 900px) and (max-width: 1024px){
    
}