/* página de sobre */
.main__sobre {
    margin: 4em auto;
}
.main__sobre img {
    border-radius: 130px;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.main__sobre p {
    margin-bottom: 20px;
}

.main__sobre--geral,
.main__sobre--missao,
.main__sobre--qualidade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* GERAL */
.main__sobre--geral div {
    width: 40%;
}

.main__sobre--geral div:nth-child(1) {
    width: 55%;
}



/* MISSAO */

.main__sobre--missao {
    margin-top: 10em;
}

.main__sobre--missao h2 {
    margin-bottom: 20px;
}

.main__sobre--missao img {
    border-radius: 130px 20px;
}

.main__sobre--missao div {
    width: 40%;
}

.main__sobre--missao div:nth-child(2) {
    width: 55%;
}

/* VALORES */
.main__sobre--valores {
    width: 100%;
    margin: 0 auto;
    margin-top: 8em;
    display: flex;
}
.main__sobre--valores div{
    width: 60%;
}
.main__sobre--valores ul{
    width: 40%;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
}




/* QUALIDADE DE VIDA */
.main__sobre--qualidade {
    margin-top: 10em;
    align-items: flex-start;
}

.main__sobre--qualidade h2 {
    margin-bottom: 1em;
}

.main__sobre--qualidade div {
    width: 40%;
}

.main__sobre--qualidade div:nth-child(1) {
    width: 55%;
}

.main__sobre--qualidade img{
    width: 80%;
    border-radius: 40px;
}

.move{
    transition: ease-in 2s;
    animation: toUp 1s;
}

@keyframes toUp {
    0%{
        opacity: .7;
        transform: translatey(20%);
    }
    100%{
        opacity: 1;
        transform: translatey(0%);
    }
}


.contato__sobre {
    position: relative;
    overflow-x: clip;
    background-color: var(--vermelho-principal);
    text-align: center;
    padding-bottom: 5em;
}

.contato__sobre::before {
    top: -2em;
    content: "";
    display: inline-block;
    position: absolute;
    height: 10em;
    width: calc(100% + 50em);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: var(--vermelho-principal);
    border-radius: 50%;
}
.contato__sobre h2{
    padding-top: 30px;
}

.contato__sobre h2, .contato__sobre p {
    color: var(--branco-secundario);
    margin-bottom: 1em;
}

.contato__sobre a{
    text-decoration: none;
    background-color: var(--branco-secundario);
    color: var(--vermelho-principal);
    padding: .6em 4em;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-weight: 600;
}
.contato__sobre a:hover{
    transition: ease-in-out .5s;
    background-color: var(--vermelho-principal);
    color: var(--branco-secundario);
    border: solid .5px var(--branco-secundario);
    transform: rotate(20deg);
}

@media screen and (max-width: 500px) {
    .main__sobre--geral, .main__sobre--missao, .main__sobre--qualidade {
        flex-direction: column;
    }
    .main__sobre--geral div:nth-child(1) {
        width: 100%;
    }
    .main__sobre--geral div{
        width: 100%;
    }
    .main__sobre img {
        border-radius: 20px;
    }
    .main__sobre--missao{
        flex-direction: column-reverse;
    }
    .main__sobre--missao div {
        width: 100%;
    }
    .main__sobre--missao div:nth-child(2) {
        width: 100%;
    }
    .main__sobre--valores {
        flex-direction: column;
    }
    .main__sobre--valores div {
        width: 100%;
    }
    .main__sobre--valores ul {
       display: none;
    }
    .main__sobre--qualidade {
        margin-top: 4em;
    }
    .main__sobre--qualidade div:nth-child(1) {
        width: 100%;
    }
    .main__sobre--qualidade div {
        width: 100%;
        text-align: center;
    }
}


@media screen and (min-width: 501px) and (max-width: 900px) {
    .main__sobre--geral, .main__sobre--missao, .main__sobre--qualidade {
        flex-direction: column;
    }
    .main__sobre--geral div:nth-child(1) {
        width: 100%;
    }
    .main__sobre--geral div{
        width: 70%;
    }
    .main__sobre img {
        border-radius: 20px;
    }
    .main__sobre--missao{
        flex-direction: column-reverse;
    }
    .main__sobre--missao div {
        width: 70%;
    }
    .main__sobre--missao div:nth-child(2) {
        width: 100%;
    }
    .main__sobre--valores {
        flex-direction: column;
    }
    .main__sobre--valores div {
        width: 100%;
    }
    .main__sobre--valores ul {
       display: none;
    }
    .main__sobre--qualidade {
        margin-top: 4em;
        align-items: center;
    }
    .main__sobre--qualidade div:nth-child(1) {
        width: 100%;
    }
    .main__sobre--qualidade div {
        width: 70%;
        text-align: center;
    }
}