/* HEADER / BANNER */
@media screen and (max-width: 500px) {

    /* header */
    .header__container a:hover {
        background-size: none;
    }

    a.list__item {
        background: none !important;
    }

    /* header final */
    /* banner */
    .banner__container {
        height: calc(90vh - 140px);
    }

    div.banner__text {
        width: 100%;
        padding: 4em 0;
        position: relative;
    }

    .banner__cta {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 2em;
        padding: 18px;
    }

    /* clients */
    div.clients__slider {
        margin-right: 20em;
        animation: scroll 10s infinite linear;
    }

    div.client img {
        width: 100px;
        height: 50px;
        margin: 0 1em;
    }

    /* clients final */

    /* especialidades */
    div.especialidades__cards {
        display: flex;
        flex-direction: column;
    }

    .especialidades__card {
        margin-bottom: 1em;
    }

    /* .depoimentos */

    div.depoimentos__container {
        display: flex;
        padding-top: 2em;
        flex-direction: column;
        align-items: center;
    }

    div.depoimentos__text, 
    div.depoimentos__decoration {
        width: 100%;
        margin-bottom: 2em;
    }
    div.depoimentos__card {
        width: 100%;
    }
    div.depoimentos__decoration{
        text-align: center;
    }
    div.depoimentos__card{
        margin-bottom: 2em;
    }

}