/* HEADER / BANNER */
@media screen and (max-width: 500px){
    /* header */
    .header__container a:hover{
        background-size: none;
    }
    a.list__item {
        background: none !important;
    }
    /* header final */
    /* banner */
    .banner__container{
        height: calc(100vh - 100px);
    }
    div.banner__text {
        width: 100%;
        padding: 4em 0;
    }
    .banner__cta{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}
