.sobre {
    margin-top: 7em;
    padding-bottom: 100px;
}

.sobre__container {
    display: flex;
    align-items: center;
}

.sobre__imagem {
    width: 20%;
}

.sobre__text {
    width: 80%;
}

.sobre__text p {
    margin-top: 1em;
    line-height: 1.1em;
}


@media screen and (max-width:500px) {
    .sobre__container {
        flex-direction: column;
    }

    .sobre__text {
        width: 100%;
    }
    .sobre__text p {
        margin-top: 1em;
        line-height: 1.4em;
    }

    .sobre__imagem {
        width: 100%;
        text-align: center;
        margin-top: 2em;
    }

    .sobre__imagem img {
        width: 60%;
    }
}