.sobre {
    margin-top: 7em;
    padding-bottom: 100px;
}

.sobre__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre__imagem {
    width: 20%;
}

.sobre__text {
    width: 75%;
}
.sobre__text h2{
    font-size: 1.4em;
}

.sobre__text p {
    /* margin-top: 1em; */
    line-height: 1.1em;
    margin: 1em 0;
}

.sobre__text a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    color: var(--vermelho-principal);
    border-bottom: solid var(--vermelho-secundario) 1px;
}


@media screen and (max-width:500px) {
    .sobre__container {
        flex-direction: column;
    }

    .sobre__text {
        width: 100%;
    }
    .sobre__text p {
        margin-top: 1em;
        line-height: 1.4em;
    }

    .sobre__imagem {
        width: 100%;
        text-align: center;
        margin-top: 2em;
    }

    .sobre__imagem img {
        width: 60%;
    }
}